@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f0efed;
	font-family: Roboto, sans-serif;
	font-size: 14px;
}

button[disabled] {
	cursor: not-allowed;
}

.container {
	max-width: 1230px;
	min-height: 100vh;
	margin: 0 auto;
	padding: 15px;
}

select {
	cursor: pointer;
}
